.gate-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 9998;
  pointer-events: none;
}
.gate-modal.active {
  pointer-events: all;
}
.left-gate, .right-gate {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.left-gate {
  background-image: url('../../assets/images/frames/gate-left.png');
  transform: translateX(-100%);
}
.right-gate {
  background-image: url('../../assets/images/frames/gate-right.png');
  transform: translateX(100%);
}
.gate-modal.opening .left-gate {
  animation: slideLeftOpen 1.5s  ease-out forwards;
}
.gate-modal.opening .right-gate {
  animation: slideRightOpen 1.5s  ease-out forwards;
}
.gate-modal.closing .left-gate {
  animation: slideLeftClose 1.5s 0.3s ease-in forwards;
}
.gate-modal.closing .right-gate {
  animation: slideRightClose 1.5s 0.3s ease-in forwards;
}
@keyframes slideLeftOpen {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
@keyframes slideRightOpen {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}
@keyframes slideLeftClose {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}
@keyframes slideRightClose {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}